---
- name: Install composer
  shell: curl -sS https://getcomposer.org/installer | php
  tags: web

- name: Move composer.phar to composer
  shell: mv composer.phar /usr/local/bin/composer creates=/usr/local/bin/composer
  tags: web

- name: Make composer executable
  shell: chmod a+x /usr/local/bin/composer
  tags: web

- name: Add composer to locale profile
  lineinfile: "state=present dest=/home/vagrant/.profile
  regexp='^PATH=$PATH:./bin$'
  line='PATH=$PATH:./bin:/home/vagrant/.composer/vendor/bin'"
  tags: web

- name: Install composer package
  shell: composer global require {{ item }}
  with_items:
    - psy/psysh 0.1.*
    - fabpot/php-cs-fixer 0.5.7
  sudo_user: vagrant
  tags: web